@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #ffffff;
  /* color: #333; */
  font-family: "Nunito";
}
body h1{
  color: #0274be !important;
}
a {
  color: #5ac1d0;
  text-decoration: none;
  font-size: 1.2rem;
}
a:hover {
  color: #0274be; /* color on hover */
}
.content {
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #4979ff;
}
nav a {
  margin-left: 15px;
}
nav .logo {
  margin-right: auto;
}

.logo {
  animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #5ac1d0;
  border-top: 1px solid #4979ff;
}

.not-found {
  text-align: center;
}
.not-found a, .not-found p, .not-found h2{
  color: #4979ff;
  text-decoration: underline;
}


